body{
  color: rgb(102, 102, 102);
}

.name-div{
margin-bottom: 3rem;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }

.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: #141414;
    margin-bottom: 30px;
  }

.outer-box {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  z-index:1;
}

.second-outer{
  background: none;
  height: 100%;
  width: 100%;
  position: absolute;
  /* top: 4vh;
  left: 2vw; */
  overflow: hidden;
  border: solid 5vh rgb(14, 14, 14);
}

.particles-container{
  position: absolute;
  height: 92vh;
  width: 96vw;
  top: 4vh;
  left: 2vw;
  overflow: hidden;


}

.side-nav{
  position:absolute;
  top:3vh;
  left:2vw;
}

.my-intro{
  /* height: 70vh; */
  width: 32vw;
  position: absolute;
  bottom: 3vh;
  right: 2vw;
  text-align: justify;
}

.timeline-div{
  position:absolute;
  height: 75%;
  width: 70vw;
  bottom: 3vh;
  right:0;
  overflow: hidden;  
}

.timeline-scroll {
  height: 100%;
  overflow-y: auto;
  padding-right: 20px; /* Create space for scrollbar */
}

.vertical-timeline-element {
  margin-bottom: 20px; /* Increase or decrease as needed */
}

.masonry-div{
  position: absolute;
  height:75%;
  width:50vw;
  bottom:3vh;
  right:3vw;
  overflow: hidden;
}

.masonry-scroll {
  height: 100%;
  overflow-y: auto;
  padding-right: 20px; /* Create space for scrollbar */
}

.contact-div{
  position: absolute;
  bottom:3vh;
  left:2vw;
}

.no-deco {
  text-decoration: none;
  color: rgb(130, 130, 130);
}

.no-deco:hover {
  text-decoration: none;
  color: aliceblue;
    transition: 0.3s;

}

.name{
  font-size: 70px;
}

.name:hover{
    transition: 0.5s;
color: aliceblue;

}

.black-text{
  color: #000000;
}

.current-page{
  text-decoration: line-through;
}


.about-me:hover{
  cursor: pointer;
  transition: 0.5s;
color: aliceblue;
}

.resume{
  text-decoration: none;
}

.card-body-div{
  background-color: rgb(42, 42, 42);
  color: rgb(200, 207, 212);
}

.content-secret-card{
  background-color: #141414;
}

.card-no-border:hover{
  cursor: pointer;
  box-shadow: 0 0 10px rgb(110, 110, 110);
  transform: scale(1.02);
}

@media screen and (max-width: 600px) {
  .second-outer{
    border: solid 2vh rgb(14, 14, 14);
  }

  .name-div{
    margin-bottom: 1rem;
  }

  .name{
    font-size: 50px;

  }

  .name-div > p{
    font-size: 13px;
    margin-bottom: 1px;
  }

  .my-intro{
    height: 58vh;
    width:95%;
    position: absolute;
    bottom: 3vh;
    left: 3vw;
    overflow: hidden;
  }

  .my-intro-scroll{
    height: 100%;
    overflow-y: auto;
    padding-right: 20px; /* Create space for scrollbar */
  
  }

  .timeline-div{
    position: absolute;
    height: 58vh;
    width:95%;
    bottom: 3vh;
    left: 3vw;
    overflow: hidden;
  }

  .masonry-div{
    position: absolute;
    height: 58vh;
    width:95%;
    bottom:3vh;
    right:3vw;
    overflow: hidden;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {

  .second-outer{
    border: solid 3vh rgb(14, 14, 14);
  }

  .my-intro{
    height: 60vh;
    width:60%;
    position: absolute;
    bottom: 1vh;
    right: 3vw;
    overflow: hidden;
  }


  .masonry-div{
    position: absolute;
    height: 58vh;
    width:95%;
    bottom:3vh;
    right:1.3vw;
    overflow: hidden;
  }

}
